.Container {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 67px;
  position: fixed;
  z-index: 3000;
  background-color: white;
  width: 100%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.07);

  @media screen and (max-width: 950px) {
    padding: 10px;
  }

  .NavItems {
    display: flex;
    gap: 40px;
    position: relative;

    @media screen and (max-width: 650px) {
      display: none;
      pointer-events: none;
      visibility: hidden;
    }

    a {
      position: relative;
      transition: 300ms;

      &:hover,
      &.Active {
        color: #c385d0;

        &::after {
          background-color: #c385d0;
          width: 100%;
          transition: 300ms;
        }
      }

      &::after {
        width: 0;
        height: 1.5px;
        background-color: transparent;

        display: block;
        content: "";
        margin-top: 5px;
      }
    }
  }
}

@keyframes SlideDown {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes SlideRight {
  0% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}
